.ady{
    border: solid 1px;
    height: 40px;
    width: auto;
    float: none;
    position: no-repeat;
    border-radius: 10px;

}

.ady:hover{
    background-color: hsla(0, 0%, 86%, 0.52);
}
.centre{
   
    margin-left: 33%;
    height: 30px;
    width: 30px;
}

a{
  margin-left: 26px;
    border-radius: 5px;
    text-decoration: none;
    position: center;
    text-decoration: black;
    text-decoration: none;
   width: 25px;
   
}
.velo{
    position: relative;
    height: 40px;
}